@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>You can sort</p>
<ul>
    <li>by Manufacterer</li>
    <li>by Body type</li>
    <li>by Drive unit</li>
    <li>by Price</li>
    <li>by Power</li>
</ul>
