@{
    Layout = "_Layout";
    @using CaseAutoService.Model;
}

<table class="table">
   
    <tr>
        <td>Name</td>
        <td>Manufacturer</td>
        <td>BodyType</td>
        <td>Price</td>
        @foreach (var Auto in ViewBag.List)
        {
            <tr><td>@Auto.Name</td> <td>@Auto.Manufacturer</td> <td>@Auto.BodyType</td> <td>@Auto.Price руб.</td>  </tr>
        }
    </table>

