@{
    Layout = "_Layout";
}

<form method="post">
        <!--Класс модели -->
     <h5>Select manufacterer auto</h5>
         <div class="model">
             <select id="model" name="ManufactererAuto" onchange="choose_model(this.value)" class="frm-field required">
                 <option value="BMW">BMW</option>
                 <option value="Nissan">Nissan</option>
                 <option value="Mersedes">Mercedes</option>
             </select>
        </div>
        <br />
     <p>
         <input type="submit" value="Search" />              
     </p>                   
</form>